/* shared css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo {
    font-size: 45px;
    font-weight: 900;
}
.orange_color {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* shared css  */

header {
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    /* background-position: left top, bottom right; */
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
nav {
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu li {
    list-style: none;
    font-size: 20px;
    color: #474747;
}
nav .menu a {
    text-decoration: none;
}


/* banner css start */
.banner {
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0 230px;
}
.banner .banner_content {
    max-width: 585px;
}
.banner .banner_content h2{
    font-size: 45px;
    font-weight: 700;
    color: #474747;
}
.banner_content h1 {
    font-size: 85px;
    font-weight: 800;
    color: #000;
    padding: 5px 0 20px 0;
}
.banner_content p {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    padding-bottom: 30px;
    line-height: 30px;
}
.banner_content button {
    margin-right: 30px;
}

.banner_image img {
    max-width: 584px;
    vertical-align: middle;
}

.section_header {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section_header h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section_header p {
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 30px;
    /* text-align: justify; */
}

/* banner css end */


/* about css start */
#about {
    padding: 130px 230px 0;
        /* width: 71%;
    max-width: 1140px; */
}
#about .about_container {
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
}
.about_container .about_info {
    display: flex;
    justify-content: space-around;
}
.about_info .about_card p{
    line-height: 30px;
}
/* about css end */

#skills {
    padding-top: 130px;
}
#skills .skills_container {
    width: 71%;
    max-width: 1140px;
    /* text-align: center; */
    margin: 0 auto;
}
.skills_container .skills_box {
    display: flex;
    gap: 24px;
    padding-top: 50px;
}
.skills_container .skills_card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000003b;
}
.skills_container .skills_card img{
    max-width: 44px;
}
.skills_container .skills_card h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 20px 0;
}
.skills_container .skills_card p{
    line-height: 28px;
    font-size: 16px;
    font-weight: normal;
}
/* skills section end */

/* resume section start */
#resume {
    padding-top: 131px;   
}
#resume .resume_container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.section_title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 30px;
} 
.resume_card {
    /* padding: 30px 47px 30px 0; */
    max-width: 511px;
    margin-right: 47px;
}
.resume_card .card_title { 
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 10px;
}
.resume_card .card_info {
    font-size: 20px;
    font-weight:600;
    color: #757575;
    padding: 10px 0 20px;
}
.resume_card .card_text {
    font-size: 16px;
    font-weight:normal;
    color: #757575;
    line-height: 28px;
    padding-bottom: 20px;
}
hr {
    margin: 30px 0;
}
.btn_resume {
    text-align: center;
    padding: 50px 0 113px;
}
/* resume section end */

/* footer section start */
#footer {
     padding: 130px 0;
     background-color: #FFF8F3;
}

#footer .footer_container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer_container h2 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.footer_container .media  {
    max-width: 562px;
}

.footer_container .media p {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}

.footer_container .media .icons a {
    margin-right: 24px;
    color: #FD6E0A;
}

.contact_form h2 {
    padding-bottom: 28px;
}

/* .contact_form .contact_input {
    max-width: 461px;
} */
.footer_container .contact_form .contact_input input[type="text"], .footer_container .contact_form .contact_input textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: normal;
}


.contact_form .contact_input textarea::placeholder, .contact_form .contact_input input::placeholder {
    font-size: 16px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

/* footer section end */