/* shared css  */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo {
    font-size: 45px;
    font-weight: 900;
}
.orange_color {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
/* shared css  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav {
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu li {
    list-style: none;
    font-size: 20px;
    color: #474747;
}
nav .menu a {
    text-decoration: none;
}